---
# Only the essential Sass file needs front matter, the dashes are enough
---

// Fonts
$font-primary: "gopher", "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "Inconsolata", "Courier New", Courier, monospace;

// Colors
$color-accent: #f26a79;
$gray-dark: #333;
$gray: #999;
$gray-light: #f1f1f1;
$lightblue: #18a5b7;
$red: #ff0000;

// PrismJS

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 0.2em 0.8em;
  margin: 0.5em 0;
  overflow: auto;
  background-size: 1em 1em;
}

code[class*="language-"] {
  color: $gray-dark;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  box-shadow: none;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $gray;
}

.token.punctuation {
  color: $gray-dark;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: $color-accent;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: $gray-dark;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.token.variable,
.token.inserted {
  color: $lightblue;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: $red;
}

.token.regex,
.token.important {
  color: $red;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  color: $red;
}

// Icons

@font-face {
  font-family: "fontawesome";
  src: url("../fonts/fontawesome.eot?wip9my");
  src: url("../fonts/fontawesome.eot?wip9my#iefix") format("embedded-opentype"),
    url("../fonts/fontawesome.ttf?wip9my") format("truetype"),
    url("../fonts/fontawesome.woff?wip9my") format("woff"),
    url("../fonts/fontawesome.svg?wip9my#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"],
[class*=" fa-"] {
  font-family: "fontawesome" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-arrow-left-custom:before {
  content: "\e900";
}
.fa-arrow-right-custom:before {
  content: "\e901";
}
.fa-search:before {
  content: "\f002";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before,
.fa-facebook-f:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-xing:before {
  content: "\f168";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-vimeo:before {
  content: "\f27d";
}

/**
 * 1. Reset
 * ----------------------------------------------------------------------------
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  width: 100vw;
  height: max-content;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  width: 100%;
  height: max-content;
  min-height: 100vh;
  margin: 0;
}

a {
  background-color: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 3. Structure
 * ----------------------------------------------------------------------------
 */
.site-header,
.site-content,
.site-footer {
  padding-left: 6vw;
  padding-right: 6vw;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.site-content {
  padding-bottom: 2.5em;
}

.site-branding,
.entry-header,
.entry-content,
.entry-footer,
.subscribe-box,
.page-header,
.page-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
}

/**
 * 4. Site Header
 * ----------------------------------------------------------------------------
 */
.site-header {
  text-align: center;
}

.site-branding {
  padding: 5em 0 5em;
  max-height: 100%;
}

.custom-logo {
  margin-bottom: 0;

  a {
    border: 0;
  }
}

.custom-logo img {
  max-height: 100px;
}

.site-title {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0 8px 0 0;
  position: relative;
  text-transform: uppercase;
  z-index: 1;

  a {
    border: 2px solid $gray-dark;
    color: $gray-dark;
    display: inline-block;
    padding: 18px 30px 10px 38px;
    position: relative;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;

    &:before {
      background-color: $gray;
      content: "";
      height: 100%;
      left: 8px;
      position: absolute;
      top: 8px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      transition: 0.3s;
      width: 100%;
      z-index: -1;
    }

    &:hover {
      padding: 14px 34px;
      border: 2px solid $gray-dark;
    }
  }
}

.site-title a:hover:before {
  left: 0;
  top: 0;
}

.site-description {
  font: 17px / 1.5 $font-secondary;
  margin-bottom: 0;
  margin-top: 20px;
  height: 20px;
  max-height: 100%;
}

/**
 * 2. General
 * ----------------------------------------------------------------------------
 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  font-family: $font-primary;
  scroll-behavior: smooth;
}

body {
  background-color: $gray-light;
  color: $gray-dark;
  line-height: 1.75;
  overflow-x: hidden;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #111;
  z-index: -100;
}
a {
  border-bottom: 2px solid $gray-dark;
  color: $gray-dark;
  text-decoration: none;
  -webkit-transition: border 0.3s, color 0.3s;
  -moz-transition: border 0.3s, color 0.3s;
  transition: border 0.3s, color 0.3s;

  &:hover {
    border-color: $color-accent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-dark;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 5rem;
  margin: 0.6em 0 0.6em;
}

h2 {
  font-size: 3rem;
  margin: 0.6em 0 0.75em;
}

h3 {
  font-size: 2.5rem;
  margin: 1.5em 0 0.9em;
  a {
    border: none;
  }
}

h4 {
  font-size: 2rem;
  margin: 1em 0 1em;
}

h5,
h6 {
  font-size: 1rem;
  margin: 1.875em 0 1.125em;
}

.entry-content > h1:first-child,
.entry-content > h2:first-child,
.entry-content > h3:first-child,
.entry-content > h4:first-child,
.entry-content > h5:first-child,
.entry-content > h6:first-child {
  margin-top: 0;
}

p {
  margin: 0 0 1.5rem;
  font-size: 1.3rem;
}

address {
  font-style: italic;
  margin: 0 0 1.5em;
}

mark,
ins {
  background-color: $gray-dark;
  color: $gray-light;
  padding: 0 3px;
  text-decoration: none;
}

pre {
  background-color: $gray-light;
  color: $gray-dark;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 1.5em;
  padding: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
span.clear {
  clear: left;
  display: block;
}

blockquote {
  border: 2px solid $gray-dark;
  color: $gray-dark;
  font-weight: bold;
  line-height: 1.33333;
  margin: 1.25em 15px 1.875em 0;
  padding: 2em 30px 1.2em 45px;
  position: relative;
  height: auto;

  &:before {
    background-color: $gray-light;
    content: "";
    height: 100%;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: -1;
  }

  p {
    margin-bottom: 0.5em;
  }
  h3 {
    color: $gray-dark;
  }
  code[class*="language-"] {
    background: $gray-dark;
    color: $gray-light;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  input[type="submit"] {
    border: none;
    margin: 10px 0 0 0;
  }
  input[type="submit"]:hover {
    border: 2px solid $gray-dark;
  }
}

blockquote > :last-child {
  margin-bottom: 0;
}

blockquote a {
  color: $gray-dark;
}

blockquote small,
blockquote cite {
  display: block;
  font-style: normal;
  font: 14px / 1.5 $font-secondary;
  margin-top: 1em;
}

dl,
dd {
  margin: 0 0 1.5em;
}

dt {
  font-weight: bold;
}

ul,
ol {
  margin: 0 0 1.5em;
  padding: 0 0 0 30px;
}

ul {
  position: relative;
  list-style: none;
  font-size: 1.2rem;
}
ul li:before {
  content: "×";
  position: absolute;
  left: 0;
  color: $color-accent;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

table {
  border-bottom: 1px solid $gray-dark;
  line-height: 1.5;
  margin: 0 0 1.5em;
  text-align: left;
  width: 100%;
}

caption {
  color: $gray-dark;
  font: 12px / 1.5 $font-secondary;
  margin-bottom: 1em;
  text-align: center;
}

th,
td {
  border-top: 1px solid $gray-dark;
  padding: 0.5em 10px;
}

th {
  color: $gray-dark;
  font-weight: bold;
}

hr {
  background-color: $gray-dark;
  border: 0;
  height: 1px;
  margin: 1.875em 0;
  position: relative;
}

.center {
  text-align: center;
}

/* Form fields */

label {
  color: $gray-dark;
  display: block;
  font-size: 14px;
  font-weight: bold;
}

button,
input,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid $gray-dark;
  border-radius: 0;
  color: $gray-dark;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  max-width: 100%;
  padding: 0.5em 10px;
  vertical-align: baseline;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  outline: 0;
}

select,
submit,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  background-color: $gray-dark;
  color: $gray-light;
  font-size: 20px;
  font-weight: bold;
  min-height: 40px;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

submit,
button:hover,
button:focus,
button:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active {
  background-color: $gray-light;
  color: $gray-dark;
  border: 0;
}

.widget label {
  color: $gray-dark;
  font-weight: normal;
}

.widget input[type="text"],
.widget input[type="email"],
.widget input[type="url"],
.widget input[type="password"],
.widget input[type="search"],
.widget select,
.widget textarea {
  border: 0;
  padding: 10px;
  width: 100%;
}

.widget button,
.widget input[type="submit"],
.widget input[type="button"],
.widget input[type="reset"] {
  font-size: 12px;
  padding: 5px 15px;
}

.gh-subscribe-form {
  padding-right: 140px;
  position: relative;
}

.subscribe-email {
  border: 0;
  display: block;
  height: 40px;
  width: 100%;
}

#mc-embedded-subscribe {
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 130px;
  font-size: 17px;
}

/* Placeholder text color */
::-webkit-input-placeholder {
  color: $gray-dark;
}

:-moz-placeholder {
  color: $gray-dark;
}

::-moz-placeholder {
  color: $gray-dark;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $gray-dark;
}

/* Text selection */
::-moz-selection {
  background: $gray;
  color: $gray-light;
  text-shadow: none;
}

::selection {
  background: $gray;
  color: $gray-light;
  text-shadow: none;
}

/* Videos, audios and embeds */
embed,
iframe,
object,
video {
  max-width: 100%;
}

.entry-content .fluid-width-video-wrapper,
.kg-embed-card {
  margin: 0 0 1.5em;
}

.kg-embed-card > .fluid-width-video-wrapper {
  margin: 0;
}

/* FAQ Collapse */
.collapse-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.collapse-head {
  display: block;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;

  border-top: 1px solid $gray-dark;
  border-bottom: 1px solid $gray-dark;

  &:after {
    content: "×";
    width: 20px;
    text-align: center;
  }
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  border-bottom: 1px solid $gray-dark;
  margin-top: -1px;

  > div {
    padding: 10px 0;
  }
}

.collapse + .collapse .collapse-head {
  border-top: 0;
}

.collapse-input:checked + .collapse-head:after {
  content: "−";
}

.collapse-input:checked + .collapse-head + .collapse-content {
  max-height: 500px;
}

/* Images */
img {
  height: auto;
  max-width: 100%;
  border: 2px solid $gray-dark;
}

/* Captions */
.caption {
  margin-bottom: 1.5em;

  p {
    margin-bottom: 0;
  }
}

.caption-text,
.kg-image-card figcaption,
.kg-embed-card figcaption {
  color: $gray-dark;
  font: 12px / 1.5 $font-secondary;
  margin: 0 auto 1em;
  max-width: 740px;
  padding-top: 1em;
  text-align: center;
}

/* Alignments */
.alignleft {
  float: left;
  margin: 0.375em 30px 0.75em 0;
  max-width: 50%;
}

.alignright {
  float: right;
  margin: 0.375em 0 0.75em 30px;
  max-width: 50%;
}

.full-width {
  clear: both;
  display: block;
  margin: 0 auto 1.5em;
}

blockquote.alignleft,
blockquote.alignright {
  float: none;
  margin: 1.25em 15px 1.875em 0;
  max-width: none;
}

iframe.alignleft {
  margin: 1.25em 15px 1.875em 0;
  max-width: none;
}

/* when maximum screen width is 641px, iframe.alignleft max-width is 100% */
@media screen and (max-width: 641px) {
  iframe.alignleft {
    width: 100%;
  }
}

/* Intro text */
.intro {
  border-bottom: 1px solid $gray-light;
  color: $gray-dark;
  font-size: 1.25em;
  line-height: 1.5;
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
}

/* Footnotes */
.footnotes-list {
  color: $gray-dark;
  font: 14px / 1.5 $font-secondary;
}

.footnote-item p {
  margin-bottom: 5px;
}

/* CSS icons */
.icon-plus {
  height: 24px;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  top: 50%;
  width: 24px;
}

.icon-plus:before,
.icon-plus:after {
  background-color: $gray-dark;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
}

.icon-plus:before {
  height: 2px;
  margin-left: -6px;
  margin-top: -1px;
  width: 12px;
}

.icon-plus:after {
  height: 12px;
  margin-left: -1px;
  margin-top: -6px;
  width: 2px;
}

/* Text meant only for screen readers */
.screen-reader-text,
.custom-logo + .site-title,
.custom-logo + .site-title + .site-description {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/* Grid */
.footer-columns {
  margin-left: -30px;
}

.footer-widgets .widget-area {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-left: 30px;
}

.footer-widgets .widget-area:nth-child(1):nth-last-child(1) {
  width: 100%;
}

.footer-widgets .widget-area:nth-child(1):nth-last-child(2),
.footer-widgets .widget-area:nth-child(2):nth-last-child(1) {
  width: 50%;
}

.footer-widgets .widget-area:nth-child(1):nth-last-child(3),
.footer-widgets .widget-area:nth-child(2):nth-last-child(2),
.footer-widgets .widget-area:nth-child(3):nth-last-child(1) {
  width: 33.333%;
}

/* Clearing floats */
.inner:after,
.post-wrapper:after,
.post-inside:after,
.entry-content:after,
.footer-columns:after,
.widget-instagram:after {
  clear: both;
}

.inner:before,
.inner:after,
.post-wrapper:before,
.post-wrapper:after,
.post-inside:before,
.post-inside:after,
.entry-content:before,
.entry-content:after,
.footer-columns:before,
.footer-columns:after,
.widget-instagram:before,
.widget-instagram:after {
  content: "";
  display: table;
}

/* Contact Form */

.form-label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.625em;
  span {
    color: $gray-dark;
    font: 14px/1.5 $font-secondary;
  }
}

.form-item {
  margin-bottom: 1rem;
}

.form-textarea {
  min-height: 230px;
}

.hidden {
  display: none;
}

.contact-form {
  box-sizing: border-box;
  margin-bottom: 3.33333em;
  color: $gray-dark;
}

.contact-form input {
  width: 100%;
  color: $gray-dark;
  border: 0;
}

.contact-form .button {
  width: 100%;
  background-color: $gray-dark;
  color: $gray-light;
}

.contact-form textarea {
  height: 200px;
  width: 100%;
  float: none;
  border: 0;
  color: $gray-dark;
}

.contact-form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray-dark;
  opacity: 1; /* Firefox */
}

.contact-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $gray-dark;
}

.contact-form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $gray-dark;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 600px) {
  h2 {
    font-size: 2.5rem;
  }
}

/* LINK TREE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.big-button {
  @extend button;
  width: 80%;
  margin: 0 10% 30px;
  text-align: center;

  &:hover {
    border: 2px solid $gray-light;
  }
}

#background-canvas {
  opacity: 0.5;
  z-index: -99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shake {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}
.element {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: red;
}
@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/**
 * 6. Content
 * 6.1 Posts and Pages
 * ----------------------------------------------------------------------------
 */
.post {
  margin-bottom: 1.875em;
}

.page-content {
  margin-bottom: 3.75em;
}

.home-thumbnail .post-thumbnail {
  margin-bottom: 1.875em;
}

.post-thumbnail img {
  display: block;
  margin: auto;
}

.homepage-image {
  border: 2px solid $gray-dark;
}

a.post-thumbnail {
  border: 0;
  display: block;
  position: relative;
  text-align: center;
}

a.post-thumbnail:before {
  color: $gray-dark;
  content: "👀";
  font-size: 48px;
  left: 50%;
  letter-spacing: -0.2em;
  line-height: 1;
  margin-left: 10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  visibility: hidden;
  z-index: 1;
}

a.post-thumbnail:hover:before {
  letter-spacing: 0.2em;
  opacity: 1;
  visibility: visible;
}

a.post-thumbnail img {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  border: none;
}

a.post-thumbnail:hover img {
  opacity: 0.3;
}

.entry-header {
  margin-bottom: 1.875em;
  text-align: center;
}

.entry-title {
  font-size: 5rem;
  margin-bottom: 0.33333em;
  margin-top: 0;
  text-align: left;
  a {
    border: 0;
    color: inherit;
    text-decoration: underline;
  }
}

$price-tag-height: 80px;
$price-tag-corner: 10px;
$price-tag-dot-radius: 10px;

.price-tag {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  height: $price-tag-height;
  margin-left: $price-tag-height / 2;
  padding: 0 5px 0 10px;
  color: $gray-light;
  border-radius: 0 $price-tag-corner $price-tag-corner 0;
  background-color: $gray-light;
  line-height: 1.5;
  justify-content: center;
  $price-tag-side: round($price-tag-height / 1.428) * 2;
  margin-left: $price-tag-height;
  height: $price-tag-height * 2;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    left: -$price-tag-side / 2;
    width: $price-tag-side;
    height: $price-tag-side;
    transform: rotate(45deg);
    border-radius: 0 0 0 $price-tag-corner;
    background-color: $gray-light;
  }

  &::after {
    z-index: 1;
    top: 50%;
    left: -$price-tag-height / 2;
    width: $price-tag-dot-radius;
    height: $price-tag-dot-radius;
    transform: translate(-50%, -50%) translateX($price-tag-height / 4);
    border-radius: $price-tag-dot-radius / 2;
    background-color: $gray-dark;
  }

  &__main {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 6px;

    ~ * {
      opacity: 0.85;
    }
  }

  span {
    position: relative;
    z-index: 1;
    padding-right: 10px;
    padding-left: 10px;
    color: $gray-dark;
  }

  &--one-line {
    flex-direction: row;
    align-items: center;

    span {
      &:not(:first-child) {
        &::before {
          content: ", ";
        }
      }
    }
  }
}

#iframe-wrapper {
  position: relative;
  margin-bottom: -20px;
}
#iframe-overlay {
  /* Adjust values as needed */
  top: -100px;
}

.entry-meta,
.entry-footer,
.post-inside .post-tags {
  color: $gray-dark;
  font: 14px $font-secondary;
  text-align: left;
}

.post-inside .post-tags {
  font-size: 15px;
  padding-right: 0;
  text-align: center;
}

.entry-meta a,
.entry-footer a,
.post-inside .post-tags a {
  border-color: transparent;
  color: inherit;
  font-size: 14px;
}

.entry-meta a:hover,
.entry-footer a:hover,
.post-inside .post-tags a:hover {
  border-color: $color-accent;
  color: $gray-dark;
}

.entry-meta > span:not(:first-child):before {
  content: "\00a0\002f\00a0";
  color: $lightblue;
}

.entry-footer {
  margin-bottom: 2.14285em;
  margin-top: 1.28571em;
  position: relative;
}

.entry-footer:last-child {
  margin-bottom: 4.28571em;
}

.post-tags {
  padding-right: 175px;

  a:before {
    content: "\0023";
  }
}

.share-links {
  text-align: right;
  font-size: 50px;
  font-family: $font-primary;
  a {
    border: 0;
    color: inherit;
    display: inline-block;
    font-size: 50px;
    margin-left: 5px;
    padding: 0 5px;

    &:hover {
      color: $color-accent;
    }
  }
}

.post-tags + .share-links {
  position: absolute;
  right: 0;
  top: 0;
}

.entry-content > :last-child {
  margin-bottom: 30px;
}

.subscribe-inside {
  color: $gray-dark;
  font-size: 14px;
  padding: 30px;
  border: 2px solid $gray-dark;
  background-color: $gray-light;
}

/* Archives */
.page-header {
  margin-bottom: 3.75em;
}

.page-title {
  color: $gray-dark;
  font-size: 16px;
  letter-spacing: 0.0625em;
  margin: 0 0 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.page-title .highlight {
  color: $color-accent;
}

.page-description {
  color: $gray-dark;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

/**
 * 6.2 Grid Layout
 * ----------------------------------------------------------------------------
 */
.post-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* This will handle horizontal spacing */
  .post {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem; /* This will handle vertical spacing between rows */
  }

  @media (min-width: 550px) {
    .post {
      width: calc(50% - 1rem); /* Change width to exactly half */
      padding-right: 0.5rem; /* Add padding to create space */
      box-sizing: border-box; /* Ensure padding is included in width calculation */
    }
  }
}

.post-inside {
  background-color: $gray-light;
}

.post-wrapper .post-inside {
  border: 2px solid $gray-dark;
  padding-bottom: 0.625em;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.post-wrapper .entry-header,
.post-wrapper .entry-content,
.post-wrapper .entry-footer {
  padding-left: 30px;
  padding-right: 30px;
}

.post-wrapper .post-thumbnail {
  border-bottom: 2px solid $gray-dark;
  margin-bottom: 0;
}

.post-wrapper .entry-header {
  margin-bottom: 1.5em;
  padding-top: 1.875em;
  position: relative;
}

.post-wrapper .entry-title {
  font-size: 24px;
}

.post-wrapper .entry-meta,
.post-wrapper .entry-footer {
  font-size: 12px;
}

/**
 * 7. Site Footer
 * ----------------------------------------------------------------------------
 */
.site-footer {
  color: $gray-dark;
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}

.footer-bottom {
  border-top: 2px solid $gray-dark;
  padding-top: 2.5em;
}

.social-links {
  float: right;
  text-align: right;

  a {
    border: 0;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0.25em;
    margin-left: 15px;
    padding: 0 5px;

    &:hover {
      color: $gray-dark;
    }
  }
}

.site-info {
  float: left;
  font: 11px/1.5 $font-secondary;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
  text-transform: uppercase;

  a {
    border-color: transparent;
    color: $gray-dark;

    &:hover {
      border-color: $color-accent;
      color: $gray-dark;
    }
  }
}
.contact-me {
  font: 11px/1.5 $font-secondary;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
  text-transform: uppercase;

  a {
    border-color: transparent;
    color: $gray-dark;

    &:hover {
      border-color: $color-accent;
      color: $gray-dark;
    }
  }
}

/**
 * 8. Widgets
 * ----------------------------------------------------------------------------
 */
.widget {
  color: $gray-dark;
  font-size: 14px;
  margin-bottom: 2.85714em;
}
.widget-title {
  border-bottom: 2px solid $gray-dark;
  color: #fff;
  font-size: 18px;
  margin: 0 0 1.66667em;
  padding-bottom: 1em;
}

.widget a {
  border-color: $gray-dark;
  color: #fff;
}
.widget-recent-posts a {
  border-color: transparent;
  color: #fff;
}

.widget a:hover {
  border-color: $color-accent;
}

.menu,
.widget-recent-posts ul {
  list-style: none;
  padding-left: 0;
}

.widget-recent-posts li {
  margin-bottom: 1em;
}

.widget-recent-posts .recent-date {
  display: block;
  font: 12px/1.5 $font-secondary;
  margin-top: 0.25em;
}

.tagcloud a {
  background-color: transparent;
  border: 1px solid $color-accent;
  color: $color-accent;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 0 6px 6px 0;
  padding: 2px 5px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;

  &:hover {
    background-color: $color-accent;
    color: $gray-dark;
  }
}

.c-widget-instagram {
  display: flex;
  flex-wrap: wrap;

  .instagram-item {
    flex: 1 33%;
    border: 1px solid #fff;
  }
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * 9. Media Queries
 * ----------------------------------------------------------------------------
 */
@media only screen and (min-width: 641px) {
  img[src$="#left"] {
    float: left;
    margin: 0.3em 30px 0.83333em 0;
    max-width: 50%;
  }

  img[src$="#right"] {
    float: right;
    margin: 0.3em 0 0.83333em 30px;
    max-width: 50%;
  }

  blockquote.alignleft,
  blockquote.alignright {
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    margin-top: 0;
    text-align: left;
    width: 40%;
  }

  .entry-content blockquote.alignleft {
    float: left;
    margin-right: 45px;
  }

  .entry-content blockquote.alignright {
    float: right;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 1091px) {
  .entry-content img[src$="#wide"] {
    margin-left: -110px;
    margin-right: -110px;
    max-width: none;
    width: 960px;
  }
  .entry-content img[src$="#left"] {
    margin-left: -110px;
  }

  .entry-content img[src$="#right"] {
    margin-right: -110px;
  }

  blockquote.alignleft {
    margin-left: -110px;
  }

  blockquote.alignright {
    margin-right: -95px;
  }
}

@media only screen and (max-width: 800px) {
  .site-content,
  .site-footer {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .site-header {
    padding-left: 45px;
    padding-right: 45px;
  }

  #show-sidebar,
  #show-search {
    position: absolute;
  }

  #footer-widgets .widget-area {
    width: 100%;
  }

  .featured-slider .entry-title {
    font-size: 30px;
  }

  .footer-bottom {
    position: relative;
  }

  .social-links,
  .site-info {
    float: none;
    text-align: left;
    padding-right: 45px;
  }

  .social-links {
    margin-bottom: 0.9375em;
  }

  .social-links a {
    margin-left: 0;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 640px) {
  .buy-button {
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  h1,
  .entry-title,
  .entry-title {
    font-size: 60px;
  }
  .site-title {
    font-size: 24px;
    margin-top: 20px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 25px;
  }

  h5,
  h6 {
    font-size: 14px;
  }

  .site-branding {
    padding-bottom: 3.75em;
    padding-top: 3.125em;
  }

  .entry-meta,
  .entry-footer {
    font-size: 12px;
  }
}

@media only screen and (max-width: 540px) {
  .price-tag span {
    font-size: 1.2rem;
  }

  .post-tags + .share-links {
    margin-top: 1.5em;
    position: static;
    text-align: left;
  }
}

@media only screen and (max-width: 480px) {
  .gh-subscribe-form {
    padding-right: 0;
  }

  .gh-subscribe-submit {
    position: static;
  }

  .page-content,
  .page-header,
  .featured-posts {
    margin-bottom: 2.5em;
  }
}
