---
layout: default
title: Portfolio
---

<div id="content" class="site-content">

    <!-- Posts Index -->
    <main id="main" class="site-main inner">
        {% if page.url == "/portfolio/" %}
        <h1>Portfolio</h1>
        {% endif %}
        <div id="post-wrapper" class="post-wrapper">

            {% for post in paginator.posts %}
            {% include postbox.html %}
            {% endfor %}
        </div><!-- .post-wrapper -->
        <!-- Pagination-->
        {% include pagination.html %}
    </main>
</div>