---
layout: default
---

<div id="content" class="site-content">
  <main id="main" class="site-main inner">
    <article class="post page">
      <div class="post-thumbnail"><img src="{{ site.baseurl }}{{ page.image }}"
          alt="{% if page.featured_image_alt %}{{ page.featured_image_alt }}{% else %}{{ page.title }}{% endif %}" />
      </div>
      <header class="entry-header">
      </header><!-- .entry-header -->
      <div class="entry-content">
        {{content}}
      </div>
    </article><!-- .post .page -->
  </main><!-- .site-main -->

  <div class="entry-header">
    <h1 class="entry-title">Selected work</h2>
  </div>
  {% include featuredbox.html %}
  <div class="entry-header">
    <form action="{{ site.baseurl }}/portfolio">
      <input type="submit" value="👀 See more 👀" />
    </form>
  </div>

  <div class="entry-header">
    <h1 class="entry-title">My timeline</h2>
  </div>
  <section class="timeline">
    <ul class="listTimeline">
      <li>
        <div>
          <h4>Motion Designer & Creative Technologist <span style="font-weight:300;">X</span> LOOP <img src="{{ site.baseurl }}/images/2021/looplogo.png" alt="loop logo"
              class="companyLogo" /></h4>
          <time>JUNE 2021 - PRESENT, AMSTERDAM 🇳🇱 & SALZBURG 🇦🇹</time>
          <p>Exploring the
            intersections between design and digital technology for leading brands, such as:</p>
          <section class="logoGrid">
            <section><img src="/assets/images/clients/puma.svg" alt="puma"></section>
            <section><img src="/assets/images/clients/audi.svg" alt="audi"></section>
            <section><img src="/assets/images/clients/porsche.svg" alt="porsche"></section>
            <section><img src="/assets/images/clients/tupperware.svg" alt="tupperware"></section>
            <section><img src="/assets/images/clients/breitling.svg" alt="breitling"></section>
            <section><img src="/assets/images/clients/marcopolo.svg" alt="marcopolo"></section>
          </section>
        </div>
      </li>
      <!-- <li>
        <div>
          <h3>Freelance Motion Designer X Creative Technologist</h3> <time>JUNE 2013 - PRESENT, EVERYWHERE 🌎
            </time< /h3>
            <p>I’m often available for freelance work and always independently working
              on building design tools.</p>
        </div>
      </li> -->
      <li>
        <div>
          <h4>Digital Creative Director <span style="font-weight:300;">X</span> Red Bull <img src="{{ site.baseurl }}/images/2021/redbulllogo.png" alt="company logo"
              class="companyLogo" /></h4> <time>JULY 2019 - JUNE 2021, SALZBURG AUSTRIA 🇦🇹</time>
          <p>Designing and developing digital marketing products for one of the world’s most recognised brands.</p>
        </div>
      </li>
      <li>
        <div>
          <h4>Motion and Digital Design <span style="font-weight:300;">X</span> Leeds Design School 🎓</h4> <time>SEP 2018 - SEP 2019, LEEDS
            U.K 🇬🇧</time>
          <p>My specialist project was the production of an <a href="/sleep-info-motiongraphic" target="_blank">
              Interactive Motion Graphic that educates on sleep health</a>. Graduated with Distinction.</p>
        </div>
      </li>
      <li>
        <div>
          <h4>Creative Technologist <span style="font-weight:300;">X</span> Arup <img src="{{ site.baseurl }}/images/2021/arup.jpg" alt="company logo"
              class="companyLogo" /> </h4> <time>MAY 2018 - SEPT 2018, SHEFFIELD U.K 🇬🇧</time>
          <p>Created a <a href="/smart-building-virtual-reality" target="_blank">Virtual Reality platform</a> that provides visual representations
            of the internal &
            external
            environments of the University of Sheffield’s ‘Diamond’ Smart Building.</p>
        </div>
      </li>
      <li>
        <div>
          <h4>Software Internship <span style="font-weight:300;">X</span> Rolls-Royce <img src="{{ site.baseurl }}/images/2021/rollsroyce.png"
              alt="company logo" class="companyLogo" /></h4> <time>JUNE 2016 - JUNE 2017, DERBY U.K 🇬🇧</time>
          <p>Designing, developing & testing software for
            the
            next-generation Rolls-Royce jet engines for wide-body aircraft & business jets.</p>
        </div>
      </li>
      <li>
        <div>
          <h4>University of Sheffield <span style="font-weight:300;">X</span> BSc (Hons) Computer Science 🎓</h4> <time> SEP 2014 - JUNE 2018, SHEFFIELD U.K
            🇬🇧</time>
          <p>Published my final year dissertation <a
              href="https://www.researchgate.net/publication/331651264_Visually_Displaying_Past_and_Present_Smart_Building_Data_Through_Virtual_Reality"
              target="_blank">‘Visually Displaying Past and Present Smart Building Data Through Virtual Reality’</a> at
            the CIBSE Technical Symposium 2019. Graduated
            with
            First-class Honours.</p>
        </div>
      </li>
    </ul>
  </section>
  <div class="fade"></div>
  <div class="entry-header">
    <button id="next"> ⏳ Look further ⏳ </button>
  </div>
  {% if site.mailchimp_url %}
  {% include newsletter-box.html %}
  {% endif %}
</div><!-- .site-content -->