---
layout: default
---

<div id="content" class="site-content">
  <main id="main" class="site-main inner">
    <article class="post page">
      <img src="{{ site.baseurl }}{{ page.image }}#right"
        alt="{% if page.featured_image_alt %}{{ page.featured_image_alt }}{% else %}{{ page.title }}{% endif %}" />
      <header class="entry-header">
      </header><!-- .entry-header -->
      <div class="entry-content">
        {{content}}
        <p class="social-links-1">
          <a class="contact-me" href="{{ site.baseurl }}/contact/" target="_blank">
            Contact
            <span class="fa-envelope fa" aria-hidden="true"></span>
            <span class="screen-reader-text">Contact</span>
          </a>
        </p>
      </div>
    </article><!-- .post .page -->
  </main><!-- .site-main -->
  <div class="entry-header">
    <h1 class="entry-title">Selected work</h2>
  </div>

  {% include portfolio.html %}

</div><!-- .site-content -->