---
layout: default
---

<div id="content" class="site-content">
  <main id="main" class="site-main inner">
    <article class="post page">
      <div id="right">
      <img id="homepageImage" src="{{ site.baseurl }}{{ page.image }}"
        alt="{% if page.featured_image_alt %}{{ page.featured_image_alt }}{% else %}{{ page.title }}{% endif %}" />
      </div>
      <header class="entry-header">
      </header><!-- .entry-header -->
      <div class="entry-content">
        {{content}}
      </div>
    </article><!-- .post .page -->
  </main><!-- .site-main -->
  <div class="entry-header">
    <h2 class="entry-title">Projects 🧰</h2>
  </div>

  {% include portfolio.html %}

  <!-- <script>
    const images = [
      '{{ site.baseurl }}/assets/images/misc/about.jpg',
      '{{ site.baseurl }}/assets/images/2022/06/all_materials.png',
    ];

    let currentIndex = 0;

    function changeImage() {
      const imgElement = document.getElementById('homepageImage');
      currentIndex = (currentIndex + 1) % images.length;
      imgElement.src = images[currentIndex];
    }

    setInterval(changeImage, 1000); // Change image every 3 seconds
  </script> -->





</div><!-- .site-content -->